@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/jetbrains-mono';
@import '@fontsource-variable/rubik';

:root {
	--r-main-font: 'Rubik Variable';
	--r-main-font-size: 52px;
	--r-heading-font: 'Rubik Variable';
	--r-heading1-size: 2.8em;
	--r-code-font: 'JetBrains Mono';
	--r-inline-code-color: black;
	--r-link-color: #5563b4;
	--r-link-color-hover: #929ee2;
}

#mainTitle {
	background-color: rgba(0, 0, 0, 0.65);
	line-height: 1.4;
}

.reveal img, .reveal video { max-height: calc(var(--slide-height) - (var(--r-block-margin) * 2)); }

.reveal img.ipad { max-height: calc(var(--slide-height) - (var(--r-block-margin) * 2) - 200px); }